@mixin input-base {
    padding: .8rem 1rem;
    border: 1px solid #002594;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
}

.input-container {
    margin-bottom: 1rem;
}

// General inputs.
input {
    @include input-base;
}

input.readonly, label.readonly {
    pointer-events: none;
    opacity: 0.3;
}

label {
    display: block;
    margin-bottom: .3rem;
}

// Select component.
select {
    @include input-base;
    position: relative;
    -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
            appearance: none;
}

.select-container {
    position: relative;

    &__icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        pointer-events: none;
    }
}

.mandatory {
    color: red;
}

p.mandatory {
    font-size: .8rem;
    margin-top: .3rem;
    text-align: left;
}
