# Configure the following environment variables to run the application
# Copy this file to .env and fill in the values
# See https://jaas.8x8.vc/#/apikeys for more information
HOMECALL_JITSI_APP_ID=
HOMECALL_JITSI_KEY_ID=
# Key file can be generated with the following commands:
# $ openssl genrsa -out jitsi_key.pem 2048
# $ openssl rsa -in jitsi_key.pem -outform PEM -pubout -out jitsi_key.pem.pub
HOMECALL_JITSI_KEY_FILE=
