// Sizes
$viewport-height: calc(100vh - 59px);

// Border-radius
$border-radius-30: 30px;

// Shadows
$box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

// Colors
$color-primary: #002594;
$color-primary-opacity-10: rgb(0, 37, 148, .1);
$color-danger: #ff3336;
$color-success: #00a86b;
